/***************************************************************************   */

/* IMPORTS */

@import './reset.css';
@import './variables.css';

/***************************************************************************   */

/* GLOBAL STYLES */

html {
  background-color: var(--main-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* HEADER */
.header {
  margin-bottom: var(--space-3);
  padding: var(--space-3);
  background-color: var(--light-grey);
  border-bottom: 1px solid var(--grey);
}

.header-title {
  color: var(--black);
  font-weight: 700;
  font-size: var(--scale-4);
}

.header-subtitle {
  color: var(--black);
  font-size: var(--scale-1);
}

section {
  flex: 1;
  padding: var(--space-3);
}

section > p {
  color: var(--grey);
}

h3 {
  margin-bottom: var(--space-3);
  color: var(--black);
  font-weight: 700;
  font-size: var(--scale-3);
}

.info {
  max-width: 768px;
  margin-bottom: var(--space-3);
  padding: var(--space-0);
  border: 3px solid var(--blue);
  border-radius: 4px;
}

.info > p {
  color: var(--black);
  font-size: var(--scale-0);
}

.info span {
  color: var(--green);
  font-weight: 700;
}

.badge {
  margin-right: var(--space-0);
  padding: var(--space-0000) var(--space-00);
  color: var(--light-grey);
  background-color: var(--blue);
  border-radius: 8px;
}

form {
  max-width: 768px;
}

fieldset {
  margin-bottom: var(--space-1);
  padding: 0;
  border: 0;
}

.disabled-container {
  opacity: 20%;
  pointer-events: none;
}

.radio-btn-container,
.checkboxes-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--space-000);
}

.radio-btn-container > div,
.checkboxes-container > div {
  display: flex;
  align-items: center;
  margin-right: var(--space-3);
  margin-bottom: var(--space-0);
}

.radio-btn-container > div > input,
.checkboxes-container > div > input {
  margin-right: var(--space-00);
}

.radio-btn-container > div > label,
.checkboxes-container > div > label {
  margin-bottom: 0;
  color: var(--black);
  font-weight: 400;
}

label,
legend {
  margin-bottom: var(--space-00);
  color: var(--black);
  font-weight: 700;
}

input {
  height: 48px;
  padding-left: var(--space-00);
  font-size: var(--scale-0);
  border: 3px solid var(--black);
  border-radius: 5px;
  outline: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  border: 3px solid var(--blue);
}

input[type=radio] {
  width: 9px;
  height: 20px;
  background-color: white;
  border: 3px solid var(--black);
  border-radius: 50%;
  outline: none;
  -webkit-appearance: none;
}

input[type=checkbox] {
  width: 10px;
  height: 20px;
  background-color: white;
  border: 3px solid var(--black);
  outline: none;
  -webkit-appearance: none;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover,
.info:hover {
  cursor: pointer;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-color: var(--black);
}

.footer {
  padding: var(--space-3);
  color: var(--black);
  font-size: var(--scale-0);
  background-color: var(--light-grey);
  border-top: 1px solid var(--grey);
}

/***************************************************************************   */

/* HOMEPAGE */

.homepage-image {
  width: 700px;
  height: auto;
  margin-bottom: var(--space-1);
}

.homepage-text {
  max-width: 700px;
  font-size: var(--scale-0);
}

.homepage-text > p {
  margin-bottom: var(--space-0);
}

.form-access-link {
  color: var(--blue);
  font-size: var(--scale-1);
}

.form-access-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/***************************************************************************   */

/* STEPS 1 & 2 */

.fullname-container {
  display: flex;
}

.firstname-container,
.lastname-container {
  margin-right: var(--space-3);
}

.firstname-container,
.lastname-container,
.email-container,
.phone-container {
  display: flex;
  flex-direction: column;
}

.email-container,
.phone-container {
  margin-bottom: var(--space-1);
}

.dates-container {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.dates-container > label {
  display: none;
}

.date-input {
  width: 100px;
  margin-right: var(--space-3);
}

.email-input,
.phone-input {
  max-width: 400px;
}

.validation-text {
  margin-top: var(--space-0000);
}

.validation-button,
.final-validation-button,
.add-another-person-button {
  margin-right: var(--space-3);
  margin-bottom: var(--space-3);
  padding: var(--space-0) var(--space-1);
  font-size: var(--scale-0);
  border-radius: 8px;
  transition: 200ms;
}

.validation-button,
.final-validation-button {
  color: var(--green);
  border: 3px solid var(--green);
}

.add-another-person-button {
  color: var(--blue);
  border: 3px solid var(--blue);
}

.validation-button:hover,
.final-validation-button:hover:enabled {
  color: var(--main-color);
  background-color: var(--green);
  cursor: pointer;
}

.add-another-person-button:hover:enabled {
  color: var(--main-color);
  background-color: var(--blue);
  cursor: pointer;
}

.final-validation-button:disabled,
.add-another-person-button:disabled {
  color: var(--grey);
  border: 3px solid var(--grey);
  cursor: not-allowed;
}

/***************************************************************************   */

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .fullname-container {
    flex-direction: column;
  }

  .firstname-container,
  .lastname-container {
    margin-right: 0;
  }

  .firstname-input,
  .lastname-input {
    max-width: 400px;
  }
}

@media screen and (max-width: 550px) {
  .date-input {
    width: 90px;
    margin-right: var(--space-2);
  }
}
